*{
    margin: 0;
    padding: 0;
 
    font-family: 'Open Sans', sans-serif;
}

header{
    background-color: #FFF8F3;
    background-image: url(/images/header_bg.png),url(/images/developer.png);
    background-repeat: no-repeat;
    background-position: bottom right, left;
    height: 890px;
}

h2 {
    font-weight: 800;
    font-size: 45px;
}

span {
    color: #FD6E0A;
}

nav {
    display: flex;
    justify-content: space-between;
    padding: 50px 200px;
}

nav ul {
    display: flex;
    align-items: center;
}

nav ul li {
    margin: 10px;
    list-style: none;
}

nav ul li:hover {
    background-color: antiquewhite;
}

nav ul li a {
    padding: 10px;
    text-decoration: none;
    color: black;
}

.btn-primary {
    color: white;
    border-color: #FFF8F3;
    border: 0;
    background-color: #FD6E0A;
    font-weight: 600;
    padding: 10px 20px;
    border-radius: 8px;
}

.btn-primary:hover {
    border-color: black;
    color: black;
    background-color: white;
}

.btn-secondary{
    color: #FD6E0A;
    background-color: white;
    border-color: #FD6E0A;
    font-weight: 600;
    padding: 10px 20px;
    border-radius: 8px;
    margin-left: 20px;
}

.btn-secondary:hover {
    border-color: black;
    color: black;
    background-color: white;
}

.banner{
    padding: 50px 200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.text2{
    font-size: 64px;
    margin: 20px 0;
}

.text1{
    font-size: 45px;
}

.text3{
    font-size: 18px;
    margin-bottom: 20px;
}

main{
    max-width: 1140px;
    height: 500px;
    margin: 100px auto;
}

.about{
    background-color: #FFF8F3;
    padding: 200px 100px;
    border-radius: 10px;
}

.section-title{
    text-align: center;
    margin-bottom: 30px;
    font-size: 35px;
    font-weight: 700;
}

.section-desc{
    text-align: center;
    margin: 30px;
}

.about-info-container{
    display: flex;
    justify-content: space-evenly;
}

.section-title{
    text-align: center;
    margin-bottom: 30px;
    font-size: 35px;
    font-weight: 700;
}

.section-desc{
    text-align: center;
    margin: 30px;
}

.what-i-do{
    padding: 100px 0px;
    border-radius: 10px;
}

.card-container{
    display: flex;
    justify-content: space-between;
}

.card1, .card2, .card3, .card4{
    padding: 24px 24px;
    box-shadow: 0px 6px 10px 0px rgba(0, 0, 0, 0.06);
}

.card1{
    border-radius: 10px;
    margin-right: 20px;
}

.card2{
    border-radius: 10px;
    margin-right: 20px;
}

.card3{
    border-radius: 10px;
    margin-right: 20px;
}

.card4{
    border-radius: 10px;
}

.section-title1{
    text-align: center;
    margin-bottom: 30px;
    font-size: 35px;
    font-weight: 700;
}

.section-desc1{
    text-align: center;
    padding: 0px 100px;
    margin: 30px;
}

.section-title2{
   margin: 10px 0px;
}

.section-title3{
    margin: 10px 0px;
 }

 .section-title4{
    margin: 10px 0px;
 }

 .section-title5{
    margin: 10px 0px;
 }

 .resume-title{
    text-align: center;
    margin-bottom: 30px;
    font-size: 35px;
    font-weight: 700;
 }

 .my-education-title{
    margin-bottom: 10px;
 }

 .my-experience-title{
    margin-bottom: 10px;
 }

 .resume-container{
    display: flex;
    gap: 20px;
 }

 .education{
    margin-bottom: 20px;
    border-bottom: 2px solid #D1D1D1;
 }

 .experience{
    margin-bottom: 20px;
    border-bottom: 2px solid #D1D1D1;
 }

 .university{
    margin-top: 10px;
    margin-bottom: 10px;
 }

 .company{
    margin-top: 10px;
    margin-bottom: 10px;
 }

 .edu-desc{
    margin-bottom: 10px;
 }

 .ex-desc{
    margin-bottom: 10px;
 }